@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.App{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  width: 70vw;
  margin: auto;
  background: #E5E5E5;
  font-family: 'Inter', sans-serif;
  overflow: none;
}
